<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    {% block meta %}
    <title>LaTorre English</title>
    <meta name="description" content="Learn English.">
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('fonts/fontello/css/fontello.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/rs-plugin/css/settings.css') }}" rel="stylesheet">
        <link href="{{ asset('css/animations.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/owl-carousel/owl.carousel.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/owl-carousel/owl.transitions.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" >
    {% endblock %}
</head>

<body class="no-trans front-page">
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <div class="page-wrapper">
        <div class="header-container">
            <div class="header-top dark ">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2 col-lg-7 col-sm-5">
                            <div class="header-top-first clearfix">
                            </div>
                        </div>
                        <div class="col-xs-10 col-lg-5 col-sm-7">
                            <div id="header-top-second"  class="clearfix text-right hidden-xs">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <ul class="list-inline">
                                    <li><i class="fa fa-user pr-5 pl-10"></i><a href="/member">{{ app.user.username }}</a></li>
                                    <li><i class="fa fa-sign-out pr-5 pl-10"></i><a href="/logout">Logout</a></li>
                                </ul>
                                {% else %}
                                    <div class="row-login">
                                    <form action="{{ path('fos_user_security_check') }}" class="form-inline" method="post">
                                        <input type="hidden" name="_target_path" value="member">
                                    <div class="form-group form-group-sm">
                                        <label class="sr-only" for="username">Username</label>
                                        <input type="text" class="form-control" placeholder="Username or Email" name="_username" id="username">
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="sr-only" for="password">Password</label>
                                        <input type="password" class="form-control" placeholder="Password" name="_password" id="password">
                                    </div>
                                                    <button class="btn btn-sm btn-default" type="submit">Login</button>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    </form>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="clearfix text-right hidden-lg hidden-md hidden-sm pr-10">
                                <ul class="list-inline">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li><i class="fa fa-user pr-5 pl-10"></i><a href="/member">{{ app.user.username }}</a></li>
                                    <li><i class="fa fa-sign-out pr-5 pl-10"></i><a href="/logout">Logout</a></li>
                                {% else %}
                                    <li><i class="fa fa-sign-in pr-5 pl-10"></i><a href="/login">Login</a></li>
                                {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <header class="header clearfix">

                <div class="container">
                    <div class="row">
                        <div class="col-md-3 ">
                            <div class="header-left clearfix">
                                <div id="logo" class="logo">
                                    <a href="/"><img id="logo_img" src="{{ asset('images/logo.png') }}" alt="LaTorre English Learning"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="header-right clearfix">
                                <div class="main-navigation  animated with-dropdown-buttons">
                                    <nav class="navbar navbar-default" role="navigation">
                                        <div class="container-fluid">
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                            </div>
                                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                {{ knp_menu_render('AppBundle:Builder:mainMenu', { 'template': 'main_menu.html.twig', 'currentClass': 'active' }) }}
                                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                <div class="header-dropdown-buttons">
                                                    <a href="/member" class="btn btn-sm btn-primary">My Page <i class="fa fa-sign-in pl-5"></i></a>
                                                </div>
                                                {% else %}
                                                <div class="header-dropdown-buttons">
                                                    <a href="/register/student" class="btn btn-sm hidden-xs btn-default">Register <i class="fa fa-sign-in pl-5"></i></a>
                                                    <a href="/register/student" class="btn btn-lg visible-xs btn-block btn-default">Register <i class="fa fa-sign-in pl-5"></i></a>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </header>
        </div>
        <section class="pv-30 clearfix">
            <div class="container">
                <div id="alertsDiv">
                    {% block alerts %}
                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ type }}">
                                        {{ message|raw }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                </div>
          	  {% block body %}{% endblock %}
        	</div>
        </section>
        
        <footer id="footer" class="clearfix dark">
            <div class="footer">
                <div class="container">
                    <div class="footer-inner">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="footer-content text-center padding-ver-clear">
                                    {% block footer %}
                                    {% endblock %}
                                    <p class="text-center margin-clear">Copyright © {{ 'now'|date('Y') }} LaTorre English Learning. All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% block javascripts %}
    <script src="{{ asset('plugins/jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/modernizr.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('plugins/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script src="{{ asset('plugins/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('plugins/waypoints/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('plugins/jquery.browser.js') }}"></script>
    <script src="{{ asset('plugins/SmoothScroll.js') }}"></script>
    <script src="{{ asset('js/template.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
{% endblock %}
</body>
</html>