<div class="animated fadeInDownSmall">
    <form id="reservation" action="{{ path('save_reservation') }}" method="post">
        <input id="tutor" type="hidden" name="tutor" value="" />
        <input id="date" type="hidden" name="date" value="" />
        <input id="time" type="hidden" name="time" value="" />
        <div style="clear:both;"></div>
        <a id="confirm"></a>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img src="{{ asset('images/avatar/'~ teacher.avatar) }}" class="full-width" />
                <div class="text-center">
                    <a href="video-view?uid={{ uid }}" rel="modal:open" class="btn btn-gray btn-sm" title="動画を見る"><i class="fa fa-youtube-play"></i></a>
                    <a onclick="bookmarkAdd({{ uid }})" class="btn btn-gray btn-sm" title="ブックマーク"><i class="fa fa-bookmark"></i></a>
                    <a href="#online" class="btn btn-gray btn-sm" title="オンラインレッスン"><i class="fa fa-book"></i></a>
                    <a href="#writing" class="btn btn-gray btn-sm" title="ライティングプログラム"><i class="fa fa-pencil"></i></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <table class="table table-striped table-bordered table-condensed mb-5">
                    <tr><td width="20%">名前 ：</td><td><strong>{{ teacher.nickname }}</strong></td></tr>
                    <tr><td>年齢 ：</td><td>{{ age }}</td></tr>
                    <tr valign="top"><td>概論 ：</td><td><div style="max-height:300px; overflow-y:scroll;">{{ teacher.description|raw }}</div></td></tr>
                    <tr><td colspan="2">今月の受講ポイント（1レッスンあたり）　： <strong>{{ teacher.points  }} or {{ teacher.points + 10  }}</strong> points</td></tr>
                </table>
                <div class="pull-right"><a href="#" onclick="{% if mode == 0 %}showTutors(0){% else %}getBookmarks(){% endif %};" class="btn btn-gray btn-sm">講師検索に戻る</a></div>
            </div>
        </div>
        <hr id="online" />

        <div id="bookmarkDiv"></div>
        <div class="clearfix"></div>
        <h2 style="margin-top:10px;">レッスン予約</h2>
        <button type="button" class="btn btn-xs btn-success">OPEN</button> ＝「予約可能」クリックで「予約選択」に変わります。<br />
        <button type="button" class="btn btn-xs btn-danger">CLOSED</button> ＝「予約済み」

        <div id="confirmDiv" class="mt-10"></div>

        <a onclick="showTutorSked({{ uid }}, 0, 11, {{ offset }})" class="btn btn-{% if time_from == 0 %}primary"><i class="fa fa-hourglass-start" aria-hidden="true"></i> {% else %}gray">{% endif %}0:00 - 11:30</a>
        <a onclick="showTutorSked({{ uid }}, 12, 23, {{ offset }})" class="btn btn-{% if time_from == 12 %}primary"><i class="fa fa-hourglass-start" aria-hidden="true"></i> {% else %}gray">{% endif %}12:00 - 23:30</a>

        <div class="pull-right">
            <a class="btn btn-gray pull-left" onclick="showTutorSked({{ uid }}, {{ time_from }}, {{ time_to }},{{ offset-1 }})" title="前へ"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            <h3 style="margin:12px 7px 0; float: left;">{{ dates }}</h3>
            <a class="btn btn-gray" onclick="showTutorSked({{ uid }}, {{ time_from }}, {{ time_to }}, {{ offset+1 }})" title="次へ"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>

        <div class="clearfix"></div>
        <div id="responsive">
            <table class="table table-striped table-bordered table-sked table-condensed">
                <tr class="hidden-xs">
                    {% for i in 0..7 %}
                        <td>{{ calendar[0][i]|raw }}</td>
                    {% endfor %}
                </tr>
                <tr class="hidden-xs">
                    {% for i in 0..7 %}
                        <td>{{ calendar[1][i]|raw }}</td>
                    {% endfor %}
                </tr>
                {% for i in 2..25 %}
                    <tr>
                        {% for j in 0..7 %}
                            <td>{{ calendar[i][j]|raw }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr class="hidden-xs">
                    {% for i in 0..7 %}
                        <td>{{ calendar[1][i]|raw }}</td>
                    {% endfor %}
                </tr>
                <tr class="hidden-xs">
                    {% for i in 0..7 %}
                        <td>{{ calendar[0][i]|raw }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </form>

    <hr id="writing" />
    <h2>特別ライティングチェックプログラム</h2>
    <form action="{{ path('save_writing') }}" name="writing" method="post">
        <input type="hidden" name="tutor2" id="tutor2" value="{{ uid }}" />
        <input type="hidden" name="mode" value="Submitted" />
        <p>チェックして欲しい文章を送信して下さい。単語数によってポイントはが消費されます。</p>
        <div id="confirmWritingDiv"></div>
        <div class="row">
            <div class="form-group col-md-8">
                <label for="type">タイトル: </label>
                <select id="type" name="type" class="form-control">
                    <option value="Creative Writing">Creative Writing - Narrative / Argumentative / Expository / Descriptive / Pure ESL writing</option>
                    <option value="General Essay">General Essay - Conclusive in General / Fact finding and needs evidence / Feasibility studies or Term Papers</option>
                    <option value="Business Letters">Business Letter - Business email processing</option>
                    <option value="Resume">Resume - Job application or Cover letters / Resume making</option>
                    <option value="Academic Writing">Academic Writing - TOEIC / TOEFL / IELTS writing</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="words">単語数:* </label><input type="text" class="form-control" name="words" id="words" />
            </div>
            <div class="form-group col-md-2">
                <label for="points">必要ポイント数:</label> <input type="text" class="form-control" name="points" id="points" />
            </div>
        </div>
        <div class="form-group">
            <label for="article">ここに文章を入力して下さい:</label>
            <textarea class="form-control" name="article" id="article" onkeyup="count_words('article','words','points')" style="height:200px;"></textarea>
        </div>
        <div class="form-group">
            <label for="student_explanation">文章の説明:</label>
            <textarea class="form-control" name="student_explanation" id="student_explanation" style="height:100px;"></textarea>
        </div>

        <a href="#confirmWritingDiv" onclick="confirmWriting({{ uid }})" class="btn btn-primary">Submit</a>
    </form>
    <strong>*</strong>コビーアンドペーストした文章は不正確なカウントになり得ることがございます。送信される前に確認用の最終単語数が表示されます。

</div>
<script>
    function count_words(text,points,words){
        s = $('#'+text).val();
        s = s.replace(/(^\s*)|(\s*$)/gi,"");
        s = s.replace(/[ ]{2,}/gi," ");
        s = s.replace(/\n /,"\n");
        value=s.split(' ').length;
        switch (true)
        {
            case  (value <= 100):
                $('#'+points).val(50);
                break
            case  (value > 100 && value <= 150):
                $('#'+points).val(55);
                break
            case  (value > 150 && value <= 200):
                $('#'+points).val(60);
                break
            case  (value > 200):
                $('#'+points).val(65);
                break
        }
        $('#'+words).val(value);
    }
</script>
<style>
    @media
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
            width: 100%;
        }

        #responsive tr { border: 1px solid #ccc; }

        #responsive td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        #responsive td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
        Label the data
        */
        #responsive td:nth-of-type(1):before { content: "{{ calendar[1][0] }}"; }
        #responsive td:nth-of-type(2):before { content: "{{ calendar[1][1] }}"; }
        #responsive td:nth-of-type(3):before { content: "{{ calendar[1][2] }}"; }
        #responsive td:nth-of-type(4):before { content: "{{ calendar[1][3] }}"; }
        #responsive td:nth-of-type(5):before { content: "{{ calendar[1][4] }}"; }
        #responsive td:nth-of-type(6):before { content: "{{ calendar[1][5] }}"; }
        #responsive td:nth-of-type(7):before { content: "{{ calendar[1][6] }}"; }
        #responsive td:nth-of-type(8):before { content: "{{ calendar[1][7] }}"; }
    }
</style>