{% form_theme form 'form_errors.html.twig' %}
{% extends app.user.accountType~'/page.html.twig' %}

{% block title %}
Change Password
{% endblock %}

{% block content %}
    <div class="animated fadeInDownSmall">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_errors(form) }}
        <fieldset class="form-group">
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.current_password) }}
            <div class="mt-10">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="mt-10">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </fieldset>
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block onLoad %}
{{ parent() }}
$('div#memberMenu a').removeClass("active");
$('#menu_password').addClass('active');
{% endblock %}
