{% form_theme form 'form_errors.html.twig' %}

<div class="animated fadeInDownSmall">
<h1 class="margin-clear">Applicant Info</h1>
<span id="helpBlock" class="help-block">If possible, upload a sample video and send us the link.</span>
{{ form_start(form, {'attr': {'id':'registration_form_2'}}) }}
    {{ form_errors(form) }}
<fieldset class="form-group">
    {{ form_label(form.fullname, 'Full Name') }}
    {{ form_widget(form.fullname, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.fullname) }}
    <div class="mt-10">
        {{ form_label(form.dob,'Date of Birth') }}
        {{ form_widget(form.dob, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mt-10">
        {{ form_label(form.gender) }}
        {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mt-10">
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mt-10">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mt-10">
        {{ form_label(form.video_url) }}
        {{ form_widget(form.video_url, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mt-10">
        {{ form_row(form.avatar) }}
        {{ form_rest(form) }}
    </div>
</fieldset>
<div>
    <input type="submit" class="btn btn-primary" value="Send" />
</div>
{{ form_end(form) }}
</div>
<script>
    $('div#steps a').removeClass("active");
    $('#step_2').addClass("active");

    $('#registration_form_2').submit(function(event) {
        var formData = new FormData($(this)[0]);
        $('#registrationDiv').html('<i class="fa fa-refresh fa-spin fa-5x fa-fw"></i><span class="sr-only">Loading...</span>');

        $.ajax({
            type: "POST",
            url: "{{ path('register_teacher_2') }}",
            data: formData,
            async: false,
            success: function (data) {
                $('#registrationDiv').html(data);
            },
            cache: false,
            contentType: false,
            processData: false
        })
        event.preventDefault();
    });

    $(document).ready()
    {
        $( "#teacher_dob" ).datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: '-100Y',
            maxDate: '-15Y',
        });
    };
</script>